.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
}