.col {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h5 {
    width: 100%;
}

.card {
    height: 160px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-text {
    font-size: 16px;
}

.dropdown {
    display: flex;
    justify-content: end;
    padding-top: 16px;
}

.dropdown-item {
    cursor: pointer;
}