.row {
    margin: 0 2px 0 2px;
}

.dropdown-item {
    cursor: pointer;
}

.status {
    border-radius: 10px;
    padding: 7px;
}

.execucao {
    background-color: #CFE2FF;
}

.concluida {
    background-color: #D1E7DD;
}

.pausada {
    background-color: #FFF3CD;
}